* {
    box-sizing: border-box;
}


/*w3c*/
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
    height: 100%;
    line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("../img/theaterOpera.png");
    min-height: 100%;
}

.w3-bar .w3-button {
    padding: 16px;
}

img {
    opacity: 0.5;
}
body > form{
    font-size: 20px;

}

body >p{
    font-size: 45px;

}

/*w3c*/


/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}

nav {
    float: left;
    width: 15%;
    height: auto;
    padding: 20px;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
}


div.scrollmenu {
    text-align: center;
    background-color: grey;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
    font-style: italic;
    color: rgb(238, 255, 0);
}

nav.vertical-menu {
    width: 200px;
}

nav.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

nav.vertical-menu a:hover {
    background-color: #ccc;
    font-size: 20px;
}

nav.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
tr:nth-child(odd) {
    background-color: beige;
}
